#include <windows.h>
#include "resource.h"

//
// Version Information resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
VS_VERSION_INFO VERSIONINFO
    FILEVERSION     1,0,0,0
    PRODUCTVERSION  1,0,0,0
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_DLL
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "T800 Productions\0"
            VALUE "FileDescription", "Programmer's Notepad 2 Dialog Helper Extension\0"
            VALUE "FileVersion", "1.0\0"
            VALUE "ProductVersion", "1.0\0"
            VALUE "LegalCopyright", "T800 Productions \251 2020\0"
            VALUE "ProductName", "Programmer's Notepad 2 Dialog Helper Extension\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04B0
    }
}